#smallCard{
    display: flex;
    flex-direction: column;
    justify-content:top;
    align-items: center;
    margin: 0px;
    padding: 0px;
    background-color: rgba(255, 255, 255, 0.562);
    width: 300px;
    height: 400px;
    border-radius: 10px;
    box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.356);

}

#smallCard__image{
    margin: 0px;
    padding: 0px;
    width: 300px;
    height: 200px;
    background-color: lightblue;
    border-radius: 10px 10px 0px 0px;
}

#smallCard__title{
    font-weight: 700;
    font-size: 20px;
    margin: 0px;
    padding: 5px;
    text-decoration: none;
    color: black;
}

#smallCard__link{
    text-decoration: none;
    color: black;
}

#smallCard__text{
    width: 250px;
    font-size: 16px;
    margin: 0px;
    padding: 0px;
}