#cardbox{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px;
    padding: 0px;


}
#smallCardBox{
    height: 450px;
    display: flex;
    flex-direction: row;
    padding: 25px;
    margin: 0px;
    justify-content: space-around;

}